<div class="container">
  <h1>🎓 Quản Lý Sinh Viên</h1>

  <p>Tổng số sinh viên: <strong>{{ danhSachSV().length }}</strong></p>

  <app-coun></app-coun>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Họ Tên</th>
        <th>Giới Tính</th>
        <th>Điểm</th>
        <th>Xếp loại</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      @for (sv of danhSachSV(); track sv.id) {
      <tr>
        <td>{{ sv.id }}</td>
        <td>{{ sv.hoTen }}</td>

        <td>
          @if (sv.gioiTinh === 'Nam') {
          👨 Nam
          } @else {
          👩 Nữ
          }
        </td>

        <td [style.color]="sv.diem < 5 ? 'red' : 'green'">
          {{ sv.diem }}
        </td>

        <td>
          @if (sv.diem >= 5) {
          <span class="badge dau">Đậu ✅</span>
          } @else {
          <span class="badge rot">Rớt ❌</span>
          }
        </td>

        <td>
          <button class="btn-delete" (click)="xyLyXoa(sv.id)">Xóa</button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" style="text-align: center">Danh sách trống!</td>
      </tr>
      }
    </tbody>
  </table>
</div>